body,
html {
  color: #333;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  width: 600px;
}

.pomodoro {
  min-height: 2em;
  margin-bottom: 1em;
  border: 1px solid black;
}
