body,
html {
  color: #333;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  width: 600px;
}

.pomodoro {
  height: 2em;
  width: 2em;
  margin: 1em;
  border: 1px solid black;
  border-radius: 1em;
}

.pomodoro.is-selected {
  background-color: black;
}

.todo.is-done {
  text-decoration: line-through;
}


/*.todos {
  display: none;
}

.pomodoro.is-selected .todos {
  display: block;
}*/
