@import "packages/bourbon/bourbon";
@import "packages/neat/neat-helpers";
$unit: 2em;
$gutter: $unit;
$max-width: 100%;
@import "packages/neat/neat";

$fontSizeBase: 16px;

$colorPomodoro: rgb(222, 52, 24);

$transitionTimer: "0.1s ease-out";

@mixin circle($size) {
  $halfSize:  $size / 2;
  @include size($size);
  border-radius: $halfSize;
}

@mixin outlineHover($large: false) {
  &:hover {
    @include transition(box-shadow 0.1s ease-in-out);

    @if $large == false {
      box-shadow: 0 0 0 2px white, 0 0 0 4px $colorPomodoro;
    } @else {
      box-shadow: 0 0 0 3px white, 0 0 0 6px $colorPomodoro;
    }
  }

  .on-pomodoro & {
    &:hover {
      box-shadow: 0 0 0 2px $colorPomodoro, 0 0 0 4px white;
    }
  }
}

body,
html {
  color: #333;
  font-family: "avenir next", avenir, $helvetica;
  font-size: $fontSizeBase;
  line-height: $unit;
}

a {
  cursor: pointer;
}

button {
  @include appearance(none);
  @include outlineHover;
  background-color: transparent;
  border: 0;
  background-color: $colorPomodoro;
  color: white;
  font-weight: bold;
  height: $unit;
  padding: 0 1em;
  line-height: $unit;
  border-radius: 3px;
  outline: none;

  &:active {
    background-color: shade($colorPomodoro, 10%);
  }
}

.section {
  @include pad(default);
  @include position(absolute, 0px 0 0 0px);
  background-color: white;
  display: none;
  width: 100vw;
  min-height: 100vh;

  &.is-current {
    display: block;
  }

  &.on-pomodoro {
    background-color: $colorPomodoro;
    color: white;
  }
}

.timer {
  @include transition(background-color #{$transitionTimer}, color #{$transitionTimer});
  color: $colorPomodoro;
}

.timer-toggle {
  $size: 6em;
  $margin:  -($size / 2);
  @include outlineHover($large: true);
  @include circle($size);
  background-color: $colorPomodoro;
  color: white;
  cursor: pointer;
  font-size: 3em;
  line-height: $size;
  text-align: center;

  .timer & {
    @include position(absolute, 33% 0 0 50%);
    margin: $margin 0 0 $margin;
  }

  .on-pomodoro & {
    color: $colorPomodoro;
    background-color: white;
  }
}

.pomodoros-toggle {
  $size: 3em;
  $margin: -($size / 2);
  @include outlineHover;
  @include circle($size);
  @include position(absolute, 0 0 15% 50%);
  margin: $margin 0 0 $margin;
  background-color: $colorPomodoro;
  display: block;

  .on-pomodoro & {
    background-color: white;
  }
}

.pomodoros {

}

%pomodoro {
  $size: 12em;
  @include circle($size);
  float: left;
  margin: 1em;
  background-color: $colorPomodoro;
  cursor: pointer;
  line-height: $size;

  &.is-selected {
    background-color: $colorPomodoro;
  }
}

.pomodoro {
  @extend %pomodoro;
  @include outlineHover($large: true);
}

.pomodoro-new {
  @extend %pomodoro;
  background-color: transparent;
  border: 2px dashed $colorPomodoro;
  text-align: center;
}

.todos {
  .timer-toggle {
    margin: 0 auto $unit;
  }
}

.todo {
  &.is-done {
    text-decoration: line-through;
  }
}
