@import "packages/bourbon/bourbon";
@import "packages/neat/neat-helpers";
$unit: 2em;
$gutter: $unit;
$max-width: 100%;
@import "packages/neat/neat";

$fontSizeBase: 16px;

$colorPomodoro: rgb(222, 52, 24);

$transitionTimer: "0.1s ease-out";

@mixin circle($size) {
  $halfSize:  $size / 2;
  @include size($size);
  border-radius: $halfSize;
}

body,
html {
  color: #333;
  font-family: "avenir next", avenir, $helvetica;
  font-size: $fontSizeBase;
  line-height: $unit;
}

a {
  cursor: pointer;
}

%section {
  @include size(100vw 100vh);
  @include pad(default);
  @include position(absolute, 0px 0 0 0px);
  display: none;

  &.is-current {
    display: block;
  }
}

.timer {
  @extend %section;
  @include transition(background-color #{$transitionTimer}, color #{$transitionTimer});
  color: $colorPomodoro;

  &.on-pomodoro {
    background-color: $colorPomodoro;
    color: white;
  }
}

.timer-toggle {
  $size: 6em;
  $margin:  -($size / 2);
  @include circle($size);
  @include position(absolute, 33% 0 0 50%);
  background-color: $colorPomodoro;
  color: white;
  cursor: pointer;
  font-size: 3em;
  line-height: $size;
  margin: $margin 0 0 $margin;
  text-align: center;

  .on-pomodoro & {
    color: $colorPomodoro;
    background-color: white;
  }
}

.pomodoros-toggle {
  $size: 3em;
  $margin: -($size / 2);
  @include circle($size);
  @include position(absolute, 0 0 15% 50%);
  margin: $margin 0 0 $margin;
  background-color: $colorPomodoro;
  display: block;

  .on-pomodoro & {
    background-color: white;
  }
}

.pomodoros {
  @extend %section;
}

%pomodoro {
  $size: 12em;
  @include circle($size);
  float: left;
  margin: 1em;
  background-color: $colorPomodoro;
  cursor: pointer;
  line-height: $size;

  &.is-selected {
    background-color: $colorPomodoro;
  }
}

.pomodoro {
  @extend %pomodoro;
}

.pomodoro-new {
  @extend %pomodoro;
  background-color: transparent;
  border: 2px dashed $colorPomodoro;
  text-align: center;
}

.todos {
  @extend %section;
}

.todo {
  &.is-done {
    text-decoration: line-through;
  }
}
