@import "packages/bourbon/bourbon";
@import "packages/neat/neat-helpers";
$unit: 2em;
$gutter: $unit;
$max-width: 100%;
@import "packages/neat/neat";

$fontSizeBase: 16px;

$timerSize: 18em;

$colorPomodoro: rgb(222, 52, 24);

$transitionTimer: "0.1s ease-out";

@mixin circle($size) {
  $halfSize:  $size / 2;
  @include size($size);
  border-radius: $halfSize;
}

@mixin outlineHover($large: false) {
  &:hover {
    @include transition(box-shadow 0.1s ease-in-out);

    @if $large == false {
      box-shadow: 0 0 0 2px white, 0 0 0 4px $colorPomodoro;
    } @else {
      box-shadow: 0 0 0 3px white, 0 0 0 6px $colorPomodoro;
    }
  }

  .on-pomodoro & {
    &:hover {
      box-shadow: 0 0 0 2px $colorPomodoro, 0 0 0 4px white;
    }
  }
}

@mixin onPomodoro {
  @include transition(background-color #{$transitionTimer}, color #{$transitionTimer});

  .on-pomodoro & {
    color: $colorPomodoro;
    background-color: white;
  }
}

body,
html {
  color: #444;
  font-family: "avenir next", avenir, $helvetica;
  font-size: $fontSizeBase;
  line-height: $unit;
}

a {
  cursor: pointer;
}

button {
  @include appearance(none);
  @include outlineHover;
  background-color: $colorPomodoro;
  border-radius: 3px;
  border: 0;
  color: white;
  font-weight: bold;
  height: $unit;
  line-height: $unit;
  outline: none;
  padding: 0 1em;

  &:active {
    background-color: shade($colorPomodoro, 10%);
  }
}

input[type="checkbox"] {
  @include appearance(none);
  @include size(1em);
  border-radius: 3px;
  border: 1px solid #444;
  display: block;
  float: left;
  line-height: 1em;
  outline: none;
  text-align: center;

  &::before {
    @include position(relative, -1px 0 0 0);
    color: inherit;
    content: "";
    font-size: 12px;
  }

  &:checked::before {
    content: "✔";
  }

  &:focus {
    box-shadow: 0 0 0 2px rgba($colorPomodoro, 0.5);
  }

  .on-pomodoro & {
    border-color: white;
    color: white;

    &:focus {
      box-shadow: 0 0 0 2px rgba(white, 0.5);
    }
  }
}

.wrapper{
  @include pad(default);
  @include transition(background-color #{$transitionTimer}, color #{$transitionTimer});
  background-color: white;
  min-height: 100vh;
  width: 100vw;

  &.on-pomodoro {
    background-color: $colorPomodoro;
    color: white;
  }
}

.timer {
  @include position(fixed, 20% 0 20% 50%);
  margin-left: -($timerSize / 2);
  width: $timerSize;

  .show-todos & {
    left: 25%;
  }
}

.timer-toggle {
  @include circle($timerSize);
  @include onPomodoro;
  @include outlineHover($large: true);
  @include position(absolute, 0px 0 0 0px);
  background-color: $colorPomodoro;
  color: white;
  cursor: pointer;
  line-height: $timerSize;
  text-align: center;

}

.timer-indicator {
  font-size: 3em;
}

.timer-actions {
  $width: 12.5em;
  @include position(absolute, 0 0 0px 50%);
  margin-left: -($width / 2);
  width: $width;
}

.timer-action {
  $size: 3em;
  @include circle($size);
  @include onPomodoro;
  @include outlineHover;
  background-color: $colorPomodoro;
  color: white;
  display: inline-block;
  line-height: $size;
  margin: 0 0.5em;
  text-align: center;
}

.todos {
  display: none;
  width: 50%;
  @include position(absolute, 0px 0px 0 0);
  @include pad(default default default 0);

  .show-todos & {
    display: block;
  }
}

.todo {
  background-color: rgba(black, 0.1);
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 1em 0.5em 4em;
  position: relative;

  &.is-done {
    text-decoration: line-through;
  }
}

.checkbox-wrapper {
  @include border-left-radius(3pm);
  @include position(absolute, 0px 0 0px 0px);
  background-color: rgba(black, 0.1);
  display: inline-block;
  min-width: 3em;
  padding: 1em;
}
